.navbar {
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: solid 3px black;
  padding: 20px;
  background: rgb(240, 239, 237);

  width: 30vw;

}

.btn_nav {
 /* height: 100px; */
 text-align: center;
  /* font-size: 40px */
  width: 300px;
}
