.navbar {
  margin: 10px;
  border-radius: 10px;
  border: solid 3px rgb(221, 193, 12);
  padding: 20px;
  background:linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
}

.nav-link {
  border-radius: 10px;
  width: 200px;
  text-align: center;
  font-size: 30px;
  color: rgb(11, 11, 11);
  
}
